<!DOCTYPE html>
<html>
<body>

<h1> Prompt Templates for Argument Relation Classification using Frame Semantic Parsing</h1>

<p> <b>Expected Input:</b> one comprehensive xAIF file containing all information nodes and text segments</p>
<h3> Functionality: first, this web service considers xAIF graph to first of all extract frame sematics in each I node, and then design prompt templates to classify argument relations between I nodes </h3>
<p> <b>Expected Output: Two xAIF files which first one is extracted frames and their elements within each I node, and the second one is predicted argument relation between argument components</b> </p>
</body>
</html>